header{
    text-align: center;
}

#title{
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 25px;
    padding: 1ex;
}

#headerButtons{
    text-align: center;
    border: 100px;
    border-radius: 10px;
    border-width: 2px;
    padding: 10px;
}


.container{
    display: flex;
    column-width: auto;
    height:840px;
}

.left_column{
    flex: 1;
    text-align: center;
    background-color: orange;
}

.right_column{
    flex: 1;
    text-align: center;
    background-color: blue;
}

#wordCounter{
    font-size: large;
    padding: 20px;
    padding-right: 20%;
    padding-left: 20%;
    margin: 10px;
    background-color: yellowgreen;
}

#letterCounter{
    font-size: large;
    padding: 20px;
    padding-left: 20%;
    padding-right: 20%;
    margin: 10px;
    background-color: rgb(226, 43, 198);
}

